/* About Me container styles */
.aboutme-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-left: 300px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1.5s ease-in;
}

/* Text section */
.aboutme-text {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 50px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.aboutme-text:hover {
  transform: scale(1.05);
}

.aboutme-text h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(to right, #2c2929, #ff309401);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutme-text p {
  font-size: 1.2em;
  line-height: 1.8;
  color: #333;
  margin-bottom: 20px;
}

/* Image section */
.aboutme-image {
  flex: 1;
}

.aboutme-image img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.aboutme-image img:hover {
  transform: scale(1.1);
}

/* Animation for fade-in */
@keyframes fadeIn {
from {
  opacity: 0;
  transform: translateY(30px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}
